#vscode
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#some files I do not need 
gym_pcgrl/envs/reps/old_v2.py
gym_pcgrl/envs/reps/temp.py

# Local History for Visual Studio Code
.history/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Tensorboard Logs
runs/

# Jupyter logs
.ipynb_checkpoints/

# Saved models
*.zip
